@media (max-width:768px){
    .text{
        margin-bottom: 15px;
    }
    .inputs input{
        left: 35px;
        bottom: 33px;
    }
    .Desconto{
        margin-top: -34px 
    }
}
@media (min-width:768px){
    body{
        background-position: right 5% bottom 85%;
    }
    .page{
        display: flex;
        flex-direction: row;
        
        margin: 5% 5%;
    }
}
@media (min-width:1024px){
    .page{
        justify-content: center;
        gap: 45px;
    }
}
@media (min-width:1440px){
    .page{
        gap: 75px;
        margin: 0%; 
    
        margin-top: 15px;
    }
}